body, div, ul, ol, li,
h1, h2, h3, h4, h5, h6,
form, fieldset, input, button,
textarea, p, th, td {
    margin: 0;
    padding: 0
}

html {
    color: #000;
    background: #eeeeee;
    font-size: 10px;
    font-family: 'Helvetica Neue',Arial,'Hiragino Sans GB',STHeiti,'STHeiti Light [STXihei]','Microsoft Yahei',sans-serif
}

body {
    position: relative;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img {
    border: 0
}

a {
    text-decoration: none;
}

li {
    list-style: none
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
.jd-manage-bg {
    width: 100%;
    background: url(../images/manage-bg.png) center no-repeat;
    background-size: cover;
    overflow: hidden;
}

.jd-manage-bg .jd-manage-wrapper {
    width: 400px;
    height: 425px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.jd-manage-bg .jd-manage-wrapper .jd-manage-logo {
    width: 100px;
    height: 100px;
    background: url(../images/manage-logo.png) center no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.jd-manage-bg .jd-manage-wrapper .jd-manage-login {
    width: 400px;
    height: 225px;
    margin-top: 100px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
}

.jd-manage-bg .jd-manage-wrapper .jd-manage-login input {
    width: 250px;
    height: 30px;
    margin-top: 20px;
    margin-left: 75px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #d5d5d5;
    color: #a9a9a9;
}

.jd-manage-bg .jd-manage-wrapper .jd-manage-username {
    margin-top: 50px !important;
}

.jd-manage-bg .jd-manage-wrapper .jd-manage-btn {
    background: #ffd000;
    color: #ffffff !important;
    letter-spacing: 10px;
    padding-left: 10px;
    font-size: 16px;
    outline: none;
}

.jd-manage-bg .jd-manage-wrapper .jd-manage-btn:active {
    background: #f0c300;
}