//屏幕-内容-适配
@media screen and (max-width: 1367px) {
  .every-wrapper{
    height: 300px;
  }
}
@media screen and (min-width: 1368px) {
  .every-wrapper{
    height: 460px;
  }
}

//******************更换内容css*************************
//每个小div内容
.every-wrapper{
  width: 44%;
  background-color: white;
  float: left;
  padding: 10px 0 0 0;
  margin: 20px 3%;
  box-shadow: 0 2px 2px rgba(0,0,0,0.16);
}
//每个小div标题栏
.every-wrapper-title{
  width: 100%;
  height: 40px;
}
//标题样式
.hj-title{
  width: auto;
  height: 40px;
  text-align: center;
  margin-left: 20px;
  float: left;
  font-size: 18px;
  color: #00adb5;
  line-height: 40px;
}

//具体每个div数据
.date-same{
  background-color: #888888;
  width: 100%;
  height: calc(100% - 40px);
}